<!DOCTYPE html>
<html lang="es">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <app-menu></app-menu>
    <div class="container">
      <form>
      <div class="form-group">
        <h1 class="text-center text-primary">Calculadora de Impuesto a la Renta</h1>
        <p style="margin-left: 280px;">Esta APP permite que las personas puedan calcular el valor que deben pagar por Impuesto a la Renta.</p>
      </div>
    </form>
    </div>
            
    <router-outlet></router-outlet>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>


